/** Stylus Styles */
@import "~vuetify/src/stylus/settings/_colors.styl"

$theme := {
  primary: $grey.lighten-4
  accent: $red.accent-2
  secondary: $amber
  info: $cyan.lighten-2
  warning: $amber.darken-2
  error: $red.accent-4
  success: $light-green.lighten-1
}

@import '~vuetify/src/stylus/main.styl'


